[user]
	name = Patrick Monteiro
	email = 88517431+patrickovm@users.noreply.github.com
[core]
	editor = code --wait
[alias]
	s = !git status -s
	c = !git add --all && git commit -m
	l = !git log --pretty=format:'%C(blue)%h%C(red)%d %C(white)%s - %C(cyan)%cn, %C(green)%cr'
[init]
	defaultBranch = master
