* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 15px;
}

window#waybar {
  background: rgba(40, 42, 54, 0.9);
  color: #f8f8f2;
}

window#waybar.hidden {
  opacity: 0.8;
}

#clock,
#cpu,
#memory,
#temperature,
#pulseaudio {
  margin: 6px 4px;
  padding: 4px 10px;
  border-radius: 8px;
  transition: none;
}

#network {
  background: #8be9fd;
  color: #282a36;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px 4px;
}

#language {
  background: #ff79c6;
  color: #282a36;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 6px 4px;
  font-weight: bold;
}

#workspaces {
  background: #44475a;
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #f8f8f2;
  background: transparent;
  padding: 4px 6px;
  transition: color 0.2s ease, text-shadow 0.2s ease, transform 0.2s ease;
}

#workspaces button.occupied {
  color: #bd93f9;
}

#workspaces button.active {
  color: #50fa7b;
  text-shadow: 0 0 4px #50fa7b;
}

#workspaces button:hover {
  color: #8be9fd;
}

#pulseaudio {
  background: #8be9fd;
  color: #282a36;
}

#tray {
  background: #6272a4;
  border-radius: 8px;
  padding: 4px 6px;
  margin: 6px 4px;
}

#cpu {
  background: #50fa7b;
  color: #282a36;
}

#memory {
  background: #ffb86c;
  color: #282a36;
}

#temperature {
  background: #f1fa8c;
  color: #282a36;
}

#clock {
  background: #bd93f9;
  color: #282a36;
}